.movies-cardlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
}

.saved-movies-cardlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 165px;
}

.movies-cardlist__container {
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  margin: 0 auto;
  grid-column-gap: 30px;
  grid-row-gap: 58px;
  padding: 80px 0 75px;
}

.movies-cardlist__more-btn {
  width: 320px;
  height: 36px;
  background-color: transparent;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #424242;
  border-radius: 5px;
}

.movies-cardlist__more-btn_none {
  display: none;
}

@media screen and (max-width: 1170px) {
  .movies-cardlist__container {
    max-width: 708px;
    grid-template-columns: repeat(auto-fit, 339px);
  }
}
@media screen and (max-width: 768px) {
  .movies-cardlist {
    padding-bottom: 80px;
   }
   .saved-movies-cardlist {
    padding-bottom: 114px;
  }

  .movies-cardlist__container {
    grid-row-gap: 45px;
    padding-bottom: 61px;
  }
}

@media screen and (max-width: 738px) {
 
  .movies-cardlist__container {
    max-width: 320px;
    grid-template-columns: repeat(auto-fit, 300px);
  }
  .movies-cardlist__more-btn {
    width: 240px;
  }
}

@media screen and (max-width: 320px) {
  .movies-cardlist {
    padding-bottom: 51px;
   }
   .saved-movies-cardlist {
    padding-bottom: 62px;
  }
  .movies-cardlist__container {
    padding: 50px 0 62px;
    grid-row-gap: 37px;
  }

  .movies-cardlist__btn-container {
    padding-bottom: 0;
  }
}
