.header {
  width: 100%;
  margin: 0 auto;
  padding: 18px 0 38px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.header__link {
  display: flex;
  align-items: center;
}


@media screen and (max-width: 1200px) {
  .header__container {
    width: 95%;
  }
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__user-links {
  display: flex;
  line-height: 32px;
  gap: 30px;
}
.header__link-signup {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.header__link-signin {
  width: 76px;
  height: 32px;
  background-color: #3ddc84;
  border-radius: 3px;
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

.header__movies-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__movies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.sidebar__container {
  display: none;
}
.sidebar__button {
  background-color: #202020;
  border: none;
  width: 44px;
  height: 44px;
  display: none;
  color: #fff;
}

.sidebar__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  align-items: center;
}

.sidebar__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 6px;
  text-align: center;
}

.sidebar__link_active {
  border-bottom: 2px solid #fff;
}

.header__navigation {
  display: flex;
  gap: 16px;
  height: 32px;
  padding-left: 64px;
}

.header__navigation-profile{
  border-radius: 20px;
  background: #313131;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  width: 100px;
  height: 32px;
}

.header__navigation-link {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.header__navigation-link_active {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.sidebar__link-profile {
  border-radius: 20px;
  background: #313131;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  width: 100px;
  height: 32px;
  margin: 0;
}
.sidebar__navigation {
  padding: 159px 0;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .header__container {
    max-width: 708px;
    margin: 0 auto;
    position: relative;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 520px;
    height: 100vh;
    background-color: #202020;
    z-index: 2;
    transform: translateX(520px);
    transition: all .8s ease-in-out;

    align-items: center;
  }
  .header__islogged {
    display: none;
    
  }
  .header__navigation-profile {
    display: none;
  }
  .sidebar__button {
    display: block;
    color: #fff;
  }
  .sidebar__button_active {
    right: 0;
  }
  .sidebar__container_active {
    transform: translateX(-450px);
  }

  .sidebar__button-close {
    position: absolute;
    top: 22px;
    right: 22px;
  }
 
}

@media screen and (max-width: 600px) {
  .sidebar__container {
    width: 320px;
  }
}
@media screen and (max-width: 340px) {
  .header {
    padding: 18px 0 30px;
  }
  .header__container {
   width: 91.25%;
    margin: 0 auto;
  
  }
  .header__user-links {
    line-height: 26px;
    gap: 14px;
  }
  .header__link-signup {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }
  .sidebar__navigation {
    padding: 153px 20px 153px 5px;
    gap: 19px;
  }

  .header__link-signin {
    width: 54px;
    height: 26px;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }
  .sidebar__button {
    width: 40px;
    height: 43px;
  }
  .sidebar__link-profile {
   padding-right: 8px;
    margin-bottom: 42px;
  }
}
