.sidebar {

}

.sidebar_opened {

}


.sidebar__container {

}

.sidebar__close {

}

.sidebar__close-btn {

}

.sidebar__navigation {

}

.sidebar__link {

}

.sidebar__link-active {
    
}

.sidebar__link-profile {
    border-radius: 20px;
    background: #313131;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 100px;
    height: 32px;
  }