.movies-card {
  max-width: 360px;
  width: 100%;
  position: relative;
}

.movies-card__image {
  max-width: 360px;
  height: 201px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.movies-card__save {
  position: absolute;
  width: 72px;
  height: 21px;
  background-image: url(../../../images/save_btn.svg);
  border-radius: 30px;
  background-color: #313131;
  top: 14px;
  right: 14px;
  border: none;
}

.movies-card__saved {
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url(../../../images/saved_btn.svg);
  background-color:transparent;
  top: 14px;
  right: 14px;
  border: none;
}

.movies-card__delete {
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url(../../../images/delete_btn.svg);
  background-color: transparent;
  top: 14px;
  right: 14px;
  border: none;
  outline: none;
 
}

.movies-card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  padding-top: 14px;
  max-width: 330px;
  margin: 0 auto;
}

.movies-card__title {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.movies-card__duration {
  width: 52px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #2f2f2f;
  color: #8b8b8b;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}

@media screen and (max-width: 1170px) {
  .movies-card {
    max-width: 339px;
   
  }
  .movies-card__image {
    max-width: 339px;
    height: 190px;
  }
}
@media screen and (max-width: 768px) {
  .movies-card__container {
    gap: 34px;
    padding-top: 25px;
    max-width: 339px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 738px) {
  .movies-card {
    max-width: 300px;
  }
  .movies-card__image {
    max-width: 300px;
    height: 168px;
  }
  .movies-card__title {
    font-size: 12px;
  }
  .movies-card__container {
    gap: 34px;
    padding-top: 15px;
    max-width: 339px;
    margin: 0 auto;
  }
  .movies-card__save {
    top: 10px;
    right: 10px;
  }
  .movies-card__delete {
    top: 10px;
    right: 10px;
  }
}
