.footer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 172px;
}

.footer__title {
  width: 89.0625%;
  color: #8b8b8b;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
  padding: 79px 0 20px;
  border-bottom: 1px solid #545454b3;
}

.footer__container {
  width: 89.0625%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__links {
  list-style-type: none;
  display: flex;
  column-gap: 18px;
  margin: 0;
  padding: 0;
}

.footer__link {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .footer__title {
    width: 94.5%;
  }
  .footer__container {
    width: 94.5%;
  }
}
@media screen and (max-width: 750px) {
  .footer__title {
    width: 90%;
    margin: 0 auto;
  }
  .footer__container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 510px) {
  .footer {
    padding-top: 27px;
  }

  .footer__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer__container {
    flex-direction: column-reverse;
    gap: 30px;
    margin: 0 auto;
    text-align: center;
    padding-top: 27px;
  }

  .footer__copyright {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  .footer__link {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media screen and (max-width: 440px) {
  .footer {
    max-width: 300px;
    box-sizing: border-box;
  }
}
